<nav-page id="app-page">


  <!--
  Create tabs with an icon and text label, using the tabs-positive style (blue by default),
  and disabling header title animation when switching tabs.
  -->
  <tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive" animate-nav="false">

    <!-- Items tab -->
    <tab title="Home" icon="icon ion-home" ng-controller="ItemsTabCtrl">
      <content has-header="true" has-tabs="true" ng-click="saveAll()">  

        <list>
          <item ng-repeat="item in items" type="item-text-wrap">
              <h3><edit-in-place value="item"></edit-in-place></h3>
              <p>{{item.description}}</p>
              <p>{{item.lat}} {{item.lng}}</p>
            </item>
          </item>
        </list>
      </content>
    </tab>

    <!-- Registration tab -->
    <tab title="Register" icon="icon ion-plus">
      <content has-header="true" has-tabs="true">
        <div class="padding">
          <h2>Add yourself to the Guide!</h2>
          <p>You can add your business to the Guide for £100 per year. TODO: Add more detail to this...</p>
        </div>
        <div class="list list-inset">
          <label class="item item-input">
            <span class="input-label">Your name</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Your email</span>
            <input type="password">
          </label>
          <label class="item item-input">
            <textarea placeholder="Any more info?"></textarea>
          </label>
          <button class="button button-positive button-block">Register</button>
        </div>
      </content>
    </tab>

    <!-- About tab -->
    <tab title="About" icon="icon ion-search">
      <content has-header="true" has-tabs="true" padding="true">
        <h3>Farnborough Guide</h3>
        <p>
          TODO: Add a description of this product here
        </p>
      </content>
    </tab>

  </tabs>
</nav-page>
