<nav-page id="app-page">


  <!--
  Create tabs with an icon and text label, using the tabs-positive style (blue by default),
  and disabling header title animation when switching tabs.
  -->
  <tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive" animate-nav="false">

    <!-- Items tab -->
    <tab title="Home" icon="icon ion-home"  ng-controller="ItemsTabCtrl">
      <content has-header="true" has-tabs="true" ng-click="saveAll()">  

        <list>
          <item ng-repeat="item in items" type="item-text-wrap">
              <h3><edit-in-place value="item"></edit-in-place></h3>
              <p>{{item.description}}</p>
              <p>{{item.lat}} {{item.lng}}</p>
            </item>
          </item>
        </list>
      </content>
    </tab>

    <!-- Registration tab -->
    <tab title="Add" icon="icon ion-plus" ng-controller="NewPlaceCtrl">
      <content has-header="true" has-tabs="true">
       
        <form ng-submit="createPlace(place)">
          <div class="padding">
            <h2>Add yourself to the Guide!</h2>
            <p>You can add your business to the Guide for £100 per year. TODO: Add more detail to this...</p>
          </div>
          <div class="list list-inset">

            <label class="item item-input">
              <span class="input-label">Name</span>
              <input type="text" ng-model="place.name">
            </label>

            <label class="item item-input">
              <span class="input-label">Description</span>
              <!-- <input type="text" ng-model="place.description"> -->
              <textarea rows="5" cols="10" ng-model="place.description">
                {{place.description}}
              </textarea>
            </label>

             <label class="item item-input">
                        <span class="input-label">Lat</span>
                        <input type="text" ng-model="place.lat">
                      </label>

                      <label class="item item-input">
                        <span class="input-label">Lng</span>
                        <input type="text" ng-model="place.lng">
                      </label>

            <button class="button button-positive button-block">Add</button>
        </form>
        </div>
      </content>
    </tab>

    <!-- About tab -->
    <tab title="Map" icon="icon ion-search" ng-controller="MapCtrl">
      <content has-header="true" has-tabs="true" padding="true">
        <div class="card">
          <div class="item item-text-wrap">
            <leaflet defaults="defaults" center="farnborough" marker="markers" height="400px" width="100%"></leaflet>    
          </div>
        </div>
        
      </content>
    </tab>

  </tabs>
</nav-page>
