<view title="'Home'">
        <content has-header="true" padding="true" scroll="true" on-refresh="onRefresh()">
        <!-- for pull to refresh -->
    <refresher></refresher>
          <p>Example of Ionic tabs. Navigate to each tab, and
          navigate to child views of each tab and notice how
          each tab has its own navigation history.</p>
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
          </p>
          <list>
          <item ng-repeat="(name,item) in items" type="item-text-wrap"  href="#/tab/details/{{name}}">
              <h3>{{item.name}}</h3>
              <!-- <p>{{item.description}}</p>
              <p>{{item.lat}} {{item.lng}}</p> -->
            </item>
          </item>
        </list>
        </content>
      </view>