<!--
  This template was loaded because of the '/item/:petId' route (app.js)
  'item' is a $scope variable created in the ItemCtrl controller (controllers.js)
  The ItemCtrl pulls data from the Items service (service.js)
  The Items service returns an array of item data
-->
<nav-page title="place.name">
  <content has-header="true" padding="true">
  	<leaflet defaults="defaults" center="center" marker="markers" height="180px" width="100%"></leaflet>
  	<h1>{{ place.name }}</h1>
    <p>{{ place.description }}</p>
    <p>{{ place.lat }}</p>
    <p>{{ place.lng }}</p>
  </content>
</nav-page>