<tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive">

  <tab title="Home" icon="ion-home" href="#/tab/home">
    <nav-view name="home-tab"></nav-view>
  </tab>

  <tab title="Add" icon="ion-ios7-plus" href="#/tab/add">
    <nav-view name="add-tab"></nav-view>
  </tab>

  <tab title="About" icon="ion-ios7-information" href="#/tab/about">
    <nav-view name="about-tab"></nav-view>
  </tab>

  <tab title="Contact" icon="ion-ios7-world" ui-sref="tabs.contact">
    <nav-view name="contact-tab"></nav-view>
  </tab>

</tabs>